.elementor-240 .elementor-element.elementor-element-1337c72c {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
}

.elementor-240 .elementor-element.elementor-element-1337c72c:not(.elementor-motion-effects-element-type-background),
.elementor-240 .elementor-element.elementor-element-1337c72c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FF0000;
}

.elementor-240 .elementor-element.elementor-element-1337c72c,
.elementor-240 .elementor-element.elementor-element-1337c72c::before {
    --border-transition: 0.3s;
}

.elementor-240 .elementor-element.elementor-element-2a57c9e3 {
    text-align: center;
}

.elementor-240 .elementor-element.elementor-element-2a57c9e3 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.elementor-240 .elementor-element.elementor-element-415d3265 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
}

.elementor-240 .elementor-element.elementor-element-415d3265,
.elementor-240 .elementor-element.elementor-element-415d3265::before {
    --border-transition: 0.3s;
}

.elementor-240 .elementor-element.elementor-element-34e21087 {
    --display: flex;
    --background-transition: 0.3s;
    box-shadow: 0px 0px 10px -4px rgba(255, 0, 1.9748641304348968, 0.5);
}

.elementor-240 .elementor-element.elementor-element-34e21087:not(.elementor-motion-effects-element-type-background),
.elementor-240 .elementor-element.elementor-element-34e21087>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-240 .elementor-element.elementor-element-34e21087,
.elementor-240 .elementor-element.elementor-element-34e21087::before {
    --border-transition: 0.3s;
}

.elementor-240 .elementor-element.elementor-element-55b0310 .elementor-heading-title {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.elementor-240 .elementor-element.elementor-element-232ce568 {
    --display: flex;
    --background-transition: 0.3s;
    box-shadow: 0px 0px 10px -23px rgba(0, 0, 0, 0.5);
}

.elementor-240 .elementor-element.elementor-element-232ce568:not(.elementor-motion-effects-element-type-background),
.elementor-240 .elementor-element.elementor-element-232ce568>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-240 .elementor-element.elementor-element-232ce568,
.elementor-240 .elementor-element.elementor-element-232ce568::before {
    --border-transition: 0.3s;
}

.elementor-240 .elementor-element.elementor-element-1fa47a7d .elementor-heading-title {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    font-style: italic;
}

.elementor-240 .elementor-element.elementor-element-3369e146 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
}

.elementor-240 .elementor-element.elementor-element-6674a49 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-240 .elementor-element.elementor-element-f860536 .elementor-heading-title {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.elementor-240 .elementor-element.elementor-element-36a526cc {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
}

.elementor-240 .elementor-element.elementor-element-25d002c3.elementor-element {
    --align-self: center;
}

.elementor-240 .elementor-element.elementor-element-7fff42e3 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
}

.elementor-240 .elementor-element.elementor-element-4f1cb875 {
    --display: flex;
    --background-transition: 0.3s;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
}

.elementor-240 .elementor-element.elementor-element-4f1cb875:not(.elementor-motion-effects-element-type-background),
.elementor-240 .elementor-element.elementor-element-4f1cb875>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFFD1;
}

.elementor-240 .elementor-element.elementor-element-4f1cb875,
.elementor-240 .elementor-element.elementor-element-4f1cb875::before {
    --border-transition: 0.3s;
}

.elementor-240 .elementor-element.elementor-element-585f8efc {
    --iteration-count: infinite;
    --dynamic-text-color: #000000;
    --typing-selected-bg-color: #FFFFFF;
}

.elementor-240 .elementor-element.elementor-element-585f8efc .elementor-headline {
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.elementor-240 .elementor-element.elementor-element-585f8efc .elementor-headline-plain-text {
    color: #000000;
}

.elementor-240 .elementor-element.elementor-element-585f8efc .elementor-headline .elementor-headline-plain-text {
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-240 .elementor-element.elementor-element-585f8efc .elementor-headline-dynamic-text {
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    font-style: italic;
}

.elementor-240 .elementor-element.elementor-element-585f8efc>.elementor-widget-container {
    margin: -20px 0px -30px 0px;
}

.elementor-240 .elementor-element.elementor-element-7c6160e2 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-240 .elementor-element.elementor-element-6311eb51 {
    --display: flex;
    --background-transition: 0.3s;
    box-shadow: 0px 0px 10px -23px rgba(0, 0, 0, 0.5);
}

.elementor-240 .elementor-element.elementor-element-6311eb51:not(.elementor-motion-effects-element-type-background),
.elementor-240 .elementor-element.elementor-element-6311eb51>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-240 .elementor-element.elementor-element-6311eb51,
.elementor-240 .elementor-element.elementor-element-6311eb51::before {
    --border-transition: 0.3s;
}

.elementor-240 .elementor-element.elementor-element-5444de52 {
    text-align: center;
}

.elementor-240 .elementor-element.elementor-element-5444de52 .elementor-heading-title {
    color: #FF0000;
    font-family: "Roboto", Sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.elementor-240 .elementor-element.elementor-element-8ef2daf {
    --display: flex;
    --background-transition: 0.3s;
    box-shadow: 0px 0px 10px -23px rgba(0, 0, 0, 0.5);
}

.elementor-240 .elementor-element.elementor-element-8ef2daf:not(.elementor-motion-effects-element-type-background),
.elementor-240 .elementor-element.elementor-element-8ef2daf>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-240 .elementor-element.elementor-element-8ef2daf,
.elementor-240 .elementor-element.elementor-element-8ef2daf::before {
    --border-transition: 0.3s;
}

.elementor-240 .elementor-element.elementor-element-94a7586 .elementor-heading-title {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    font-style: italic;
}

.elementor-240 .elementor-element.elementor-element-c4d17e9 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-240 .elementor-element.elementor-element-3ba9f060 {
    --display: flex;
    --background-transition: 0.3s;
    box-shadow: 0px 0px 10px -23px rgba(0, 0, 0, 0.5);
}

.elementor-240 .elementor-element.elementor-element-3ba9f060:not(.elementor-motion-effects-element-type-background),
.elementor-240 .elementor-element.elementor-element-3ba9f060>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-240 .elementor-element.elementor-element-3ba9f060,
.elementor-240 .elementor-element.elementor-element-3ba9f060::before {
    --border-transition: 0.3s;
}

body.elementor-page-240:not(.elementor-motion-effects-element-type-background),
body.elementor-page-240>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
    background-image: url("/step1/wp-content/uploads/2024/background.webp");
}

@media(max-width:767px) {
    .elementor-240 .elementor-element.elementor-element-2a57c9e3 {
        text-align: center;
    }

    .elementor-240 .elementor-element.elementor-element-2a57c9e3 .elementor-heading-title {
        font-size: 15px;
    }

    .elementor-240 .elementor-element.elementor-element-415d3265 {
        --margin-top: -7px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-240 .elementor-element.elementor-element-34e21087 {
        --border-radius: 20px 20px 20px 20px;
        --margin-top: -10px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-240 .elementor-element.elementor-element-55b0310 {
        text-align: center;
    }

    .elementor-240 .elementor-element.elementor-element-55b0310 .elementor-heading-title {
        font-size: 17px;
    }

    .elementor-240 .elementor-element.elementor-element-55b0310>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-240 .elementor-element.elementor-element-232ce568 {
        --border-radius: 20px 20px 20px 20px;
        --margin-top: -6px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-240 .elementor-element.elementor-element-1fa47a7d {
        text-align: center;
    }

    .elementor-240 .elementor-element.elementor-element-1fa47a7d .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-240 .elementor-element.elementor-element-1fa47a7d>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-240 .elementor-element.elementor-element-3369e146 {
        --content-width: 500px;
        --min-height: 0px;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-240 .elementor-element.elementor-element-6674a49 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-240 .elementor-element.elementor-element-3d789531>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        border-radius: 22px 22px 22px 22px;
    }

    .elementor-240 .elementor-element.elementor-element-f860536 {
        text-align: center;
    }

    .elementor-240 .elementor-element.elementor-element-f860536 .elementor-heading-title {
        font-size: 14px;
    }

    .elementor-240 .elementor-element.elementor-element-f860536>.elementor-widget-container {
        margin: -9px 0px 0px 0px;
    }

    .elementor-240 .elementor-element.elementor-element-4f1cb875 {
        --border-radius: 24px 24px 24px 24px;
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
    }

    .elementor-240 .elementor-element.elementor-element-1465cd2a>.elementor-widget-container {
        padding: 0px 120px 0px 120px;
    }

    .elementor-240 .elementor-element.elementor-element-585f8efc .elementor-headline {
        font-size: 17px;
    }

    .elementor-240 .elementor-element.elementor-element-585f8efc>.elementor-widget-container {
        margin: -24px 0px -30px 0px;
    }

    .elementor-240 .elementor-element.elementor-element-7c6160e2 {
        --margin-top: -21px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-240 .elementor-element.elementor-element-6311eb51 {
        --border-radius: 20px 20px 20px 20px;
    }

    .elementor-240 .elementor-element.elementor-element-5444de52 {
        text-align: center;
    }

    .elementor-240 .elementor-element.elementor-element-5444de52 .elementor-heading-title {
        font-size: 15px;
    }

    .elementor-240 .elementor-element.elementor-element-5444de52>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-240 .elementor-element.elementor-element-8ef2daf {
        --border-radius: 20px 20px 20px 20px;
        --margin-top: -6px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-240 .elementor-element.elementor-element-94a7586 {
        text-align: center;
    }

    .elementor-240 .elementor-element.elementor-element-94a7586 .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-240 .elementor-element.elementor-element-94a7586>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-240 .elementor-element.elementor-element-c4d17e9 {
        --margin-top: -19px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-240 .elementor-element.elementor-element-3ba9f060 {
        --border-radius: 20px 20px 20px 20px;
        --margin-top: 0px;
        --margin-bottom: -10px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
}

@media(min-width:768px) {
    .elementor-240 .elementor-element.elementor-element-1337c72c {
        --content-width: 500px;
    }

    .elementor-240 .elementor-element.elementor-element-415d3265 {
        --content-width: 759px;
    }

    .elementor-240 .elementor-element.elementor-element-3369e146 {
        --content-width: 787px;
    }

    .elementor-240 .elementor-element.elementor-element-7fff42e3 {
        --content-width: 500px;
    }
}

/* Start custom CSS for container, class: .elementor-element-36a526cc */
.delayzin {
    display: none;
}
